.img-container {
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
}
#cards {
    width: 100%;
    text-align: center;
    margin-left: 7%;
}

@media screen and (max-width: 960px) {
    #cards {
        margin-left: 0;
    }
}